body{
    margin: 0;
}
.banner{
    background:url(https://work.mafengshe.com/static/imgs/banner.jpg);
    height: 270px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.item{ 
    margin:20px;
    width: 22%;
    height: 148px;
    background: #4ce19c;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.item .no{
    background: #20b6d2;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: -10px;
}
.item .title{
    background: #00474c;
    position: absolute;
    height: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 45px;
    color: beige;
    font-size: 15px;
}
.item .info{
    position: absolute;
    right: 10px;
    top: 5px;
    color: white;
}
.item .info span{
    margin-left: 6px;
}
.item .xiaolian{
    font-size: 60px;
    position: relative;;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
    width: 60px;   
}
.pager{
    text-align: center;

}
.pager a{
    margin: 10px;
}